.Home .title {
  color: red;
  font-size: 1.25rem; }

.Home p {
  text-align: center; }

.Home .weather-body {
  margin-top: 1rem; }
  .Home .weather-body li {
    margin-bottom: .1rem;
    border-bottom: 1px solid red; }
  .Home .weather-body span {
    margin-left: .4rem; }

.Weather .test {
  text-align: center;
  color: red; }

.Weather .test-img {
  width: 3rem;
  height: 3rem;
  right: 1rem;
  top: 2rem;
  background: url(/static/img/T2.c5f9c840.jpg) 0 0/100% 100% no-repeat;
  position: absolute; }

.Header {
  text-align: center;
  background: #bb9860;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  font-size: .35rem; }

.Footer {
  display: -webkit-box;
  display: flex;
  background: #bb9860;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: .35rem; }
  .Footer a {
    -webkit-box-flex: 1;
            flex-grow: 1;
    text-align: center;
    color: #fff; }
    .Footer a.active {
      color: red; }

