.Home{
    
    .title{
        color: red;
        font-size: 1.25rem;
    }
    p{
        text-align: center;
    }
    .weather-body{
        margin-top: 1rem;
        li{
            margin-bottom: .1rem;
            border-bottom: 1px solid red;
        }
        span{
            margin-left: .4rem;
        }
    }
}